extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-12
      div.page-header
        h1 Audiveris Interface
      div.row
        a(href='/account/upload') Upload a Score
      div.row
        a(href='/account/library') View Uploads
