bower_components/*
public/vendor/*
node_modules/*
*.min.js
*.min.js.map
*.min.css
.nodemonignore

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
